html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: acumin-pro, sans-serif;
    font-weight: 700; 
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 1.11px; 
    border-radius: 50px;
    text-decoration: none;
    background-color: transparent;
    color: #00263E;
    padding: 18px 40px;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #7576D2;
    color: #FFFFFF;
}

.primary-btn:hover{
    background-color: #00263E;
    color: #EDEDF5;
}
 
.secondary-btn{
    background-color: #00263E;
    color: #FFFFFF;
}


/* nav */
.navbar{
    border-bottom: 1px solid #62645B;
    margin-bottom: -112px;
    padding-top: 1px;  
    padding-bottom: 1px;
    background: transparent;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.44;
    transition: all 0.4s ease;
    border: none;
    border-bottom: 6px solid transparent;
}

.navbar .navbar-nav{
    transform: translateX(-200px);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.44;
    border: none;
    border-bottom: 6px solid #7576D2;
}    
/* nav */


