html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: acumin-pro, sans-serif;
    font-weight: 700; 
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 1.11px; 
    border-radius: 50px;
    text-decoration: none;
    background-color: transparent;
    color: #00263E;
    padding: 18px 40px;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #7576D2;
    color: #FFFFFF;
}

.primary-btn:hover{
    background-color: #00263E;
    color: #EDEDF5;
}
 
.secondary-btn{
    background-color: #00263E;
    color: #FFFFFF;
}


/* nav */
.navbar{
    border-bottom: 1px solid #62645B;
    margin-bottom: -112px;
    padding-top: 1px;  
    padding-bottom: 1px;
    background: transparent;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.44;
    transition: all 0.4s ease;
    border: none;
    border-bottom: 6px solid transparent;
}

.navbar .navbar-nav{
    transform: translateX(-200px);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.44;
    border: none;
    border-bottom: 6px solid #7576D2;
}    
/* nav */


/* home */
#home{
    padding-top: 280px;
    padding-bottom: 280px;
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    line-height: 1.08;
    color: #FFFFFF;
}

#home p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.38;
    color: #D1D2D0;
}

#home .home-icon img{
    margin-left: 76%;
}
/* home */

/* qualities */

#qualities .quality-box{
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: yellow;
    border-radius: 10px;
    margin-top: -120px;
}

#qualities h5{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.33;
    color: #00263E;
}

#qualities p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    color: #5B5B7B;
    transform: translateY(-12px);
    max-width: 95%;
    margin: auto;
}
/* qualities */

/* stakes */
#stakes{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #EDEDF5;
}

#stakes img{
    width: 100%;
    border-radius: 10px; 
}

#stakes .stakes-body{
    margin-left: 15%;
    padding: 0;
}

#stakes h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E ;
}

#stakes h6{
    font-family: acumin-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #2F4D62;
}

#stakes p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #2F4D62;
}
/* stakes */

/* services */
#services{
    padding-top: 120px;
    padding-bottom: 140px;
}

#services h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E;
    max-width: 55%;
    margin: auto;
}

#services p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #5B5B7B;
}

#services .service-box-video{
    padding: 412px 120px 60px 120px;
    background: url(../images/service-section-1st-img.jpg) no-repeat center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
}

#services .service-box-photo{
    padding: 412px 120px 60px 120px;
    background: url(../images/service-photo-img.jpg) no-repeat center;
    background-size: cover;
    border-radius: 10px;   
    width: 100%; 
}

#services h5{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 0.875;
    color: #FFFFFF;
}

#services .service-box-photo,
#services .service-box-video{
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
}

#services .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 118, 210, 0.9);
    opacity: 0;
}

#services .service-box-photo:hover .overlay,
#services .service-box-video:hover .overlay{
    opacity: 0.8;
    cursor: pointer;
}
/* services */

/* steps */
#steps{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #EDEDF5;
}

#steps h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E;
}

#steps p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #5B5B7B;
    max-width: 82%;
    margin-bottom: 60px;
}

#steps h5{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.33;
    color: #00263E;
}

#steps .step-icon-text p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    color: #5B5B7B;
}
/* steps */

/* work */
#work{
    padding-top: 140px;
    padding-bottom: 50px;
    background: url(../images/work-bg-png.png) no-repeat;
    background-position: cover;
    width: 100%;
}

#work .work-img img{
    width: 100%;
    border-radius: 10px; 
}

#work .work-play-icon img{
    transform:translateY(-325px);
}

#work .work-dot-icon img{
    transform:translateY(-30px);
}

#work .work-body{
   transform: translateX(120px);
   margin-top: -60px;
}

#work h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E ;
}

#work p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    color: #5B5B7B;
    max-width: 80%;
}
/* work */

/* cta */
#cta{
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(../images/cta-bg-img.jpg) no-repeat center;
    background-position: cover;
    width: 100%;
}

#cta h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #FFFFFF;
    max-width: 50%;
    margin: auto;
}

#cta p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #D1D2D0;
}

#cta .cta-content{
    max-width: 69%;
    margin: auto;
}

#cta .cta-number p{
    font-family: acumin-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 1.11px;
    color: #D1D2D0;
    text-transform: uppercase;
    padding: 0;
    margin-left: -50px;
}

#cta .cta-number a{
    font-family: acumin-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 1.25;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0;
    margin-left: -50px;
}

#cta .cta-button a{
  transform: translateX(12px);
}
/* cta */


/* testimonial */
#testimonial{
    padding-top: 130px;
    padding-bottom: 120px;
}

#testimonial h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E;
    max-width: 50%;
    margin: auto;
}

#testimonial .testimonial-box{
    padding: 60px 60px 52px 60px;
    background-color:#EDEDF5;
    border-radius: 10px; 
}

#testimonial p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #5B5B7B;
}

#testimonial h5{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.33;
    color: #2F4D62;
}
/* testimonial */


/* gallery */
#gallery{
    padding-top: 50px;
    padding-bottom: 140px;
}

#gallery h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E;
}

#gallery .gallery-img img{
    width: 100%;
    border-radius: 10px;
}
/* gallery */


/* about */
#about{
    padding-top: 120px;
    padding-bottom: 125px;
    background-color: #EDEDF5;
}

#about .about-img img{
    width: 100%;
}

#about h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E;
}

#about h6{
    font-family: acumin-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #5B5B7B;
}

#about p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #5B5B7B;
}

#about li{
    font-family: acumin-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #5B5B7B;
}
/* about */


/* follow */
#follow{
    padding-top: 130px;
}

#follow h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 0.86;
    color: #00263E;
}

#follow .follow-link{
    transform: translateY(-15px);
}

#follow a{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 2.6;
    color: #7576D2;
    text-decoration: none;
}

#follow .follow-img{
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
}

#follow .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 118, 210, 0.9);
    opacity: 0;
}

#follow .follow-img:hover .overlay{
    opacity: 0.8;
    cursor: pointer;
}
/* follow */


/* contact */
#contact{
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(../images/contact-bg-img.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#contact h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #FFFFFF;
    max-width: 80%;
}

#contact p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #D1D2D0;
}

#contact h5{
    font-family: acumin-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    color: #D1D2D0;
    text-transform: uppercase;   
}

#contact .contact-icon-text p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #FFFFFF;
}

#contact .contact-icon-text a{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

#contact .contact-box{
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
    max-width: 560px;
    background: #ffffff;
    border-radius: 10px;
 }

 #contact h4{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.33;
    color: #00263E;
 }

 #contact .contact-box form label{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #00263E;
    font-size: 18px;
    line-height: 1.44;
    text-transform: uppercase;
 }

 #contact .contact-box form input{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #7576D2;
    font-size: 18px;
    line-height: 1.44;
     border: none;
     border-bottom: 2px solid #EDEDF5;
     border-radius: 0;
     box-shadow: none;
     margin-top: -7px;
     padding: 6px 0;
 }

 #contact .contact-box form input:hover,
 #contact .contact-box form input:active,
 #contact .contact-box form input:focus{
    border: none;
    border-bottom: 2px solid #7576D2;
    border-radius: 0;
    box-shadow: none;
}

#contact .contact-box form textarea{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #7576D2;
    font-size: 18px;
    line-height: 1.44;
     border: none;
     border-bottom: 2px solid #EDEDF5;
     border-radius: 0;
     box-shadow: none;
 }

 #contact .contact-box form textarea:hover,
 #contact .contact-box form textarea:active,
 #contact .contact-box form textarea:focus{
    border: none;
    border-bottom: 2px solid #7576D2;
    border-radius: 0;
    box-shadow: none;
 }
/* contact */

/* footer */
#footer .footer-top{
    background: #181B1A;
    background-size: cover;
}

#footer .footer-top .footer-links{
    padding-top: 80px;
}

#footer .footer-top .social-icons{
    padding-bottom: 60px;
}

#footer .footer-top .footer-links a{
    text-decoration: none;
    color: #C5C6C6;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    padding: 0 35px;
    border-right: 3px solid #302E2F;
}

#footer .footer-bottom{
    padding-top: 9px;
    padding-bottom: 8px;
    background: #303231;
}

#footer .footer-bottom p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8C8D8D;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.36;
}
/* footer */