html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: acumin-pro, sans-serif;
    font-weight: 700; 
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 1.11px; 
    border-radius: 50px;
    text-decoration: none;
    background-color: transparent;
    color: #00263E;
    padding: 18px 40px;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #7576D2;
    color: #FFFFFF;
}

.primary-btn:hover{
    background-color: #00263E;
    color: #EDEDF5;
}
 
.secondary-btn{
    background-color: #00263E;
    color: #FFFFFF;
}


/* nav */
.navbar{
    border-bottom: 1px solid #62645B;
    margin-bottom: -112px;
    padding-top: 1px;  
    padding-bottom: 1px;
    background: transparent;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.44;
    transition: all 0.4s ease;
    border: none;
    border-bottom: 6px solid transparent;
}

.navbar .navbar-nav{
    transform: translateX(-200px);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.44;
    border: none;
    border-bottom: 6px solid #7576D2;
}    
/* nav */


/* home */
#home{
    padding-top: 280px;
    padding-bottom: 280px;
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    line-height: 1.08;
    color: #FFFFFF;
}

#home p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.38;
    color: #D1D2D0;
}

#home .home-icon img{
    margin-left: 76%;
}
/* home */

/* qualities */

#qualities .quality-box{
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: yellow;
    border-radius: 10px;
    margin-top: -120px;
}

#qualities h5{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.33;
    color: #00263E;
}

#qualities p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
    color: #5B5B7B;
    transform: translateY(-12px);
    max-width: 95%;
    margin: auto;
}
/* qualities */

/* stakes */
#stakes{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #EDEDF5;
}

#stakes img{
    width: 100%;
    border-radius: 10px; 
}

#stakes .stakes-body{
    margin-left: 15%;
    padding: 0;
}

#stakes h2{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    color: #00263E ;
}

#stakes h6{
    font-family: acumin-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #2F4D62;
}

#stakes p{
    font-family: acumin-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.42;
    color: #2F4D62;
}
/* stakes */

